.create-patent-form {
    
}



.text {
    display: flex;
    flex-direction: column;
    background: var(--primary-700);
    padding: 1rem;
    border: 2px solid black;
    border-radius: 1rem;
    margin-bottom: 1rem; 
}

.actions {
    background: var(--secondary-green-700);
    border-radius: 1rem;
    padding: 1rem;
    border: 2px solid black;
}



.text label {
    font-size: 1rem;
    /* margin-bottom: 1rem; */
}



.text input {
    display: block;
    width: 100%;
    border: none;
    outline: none;
    border: 2px solid var(--dark-700);
    padding: 0.75rem 1rem;
    color: var(--dark-700);
    margin-top: 0;
    background: var(--light-700);
    border-radius: 8px 0 0 8px;
    margin-top: 0.5rem;
    font-family: var(--font-1);
    font-weight: 300;
}

.text input::placeholder {
    color: var(--dark-700);
}


.text textarea {
    display: block;
    font-weight: 300;
    width: 100%;
    margin-top: 0.75rem;
    border: 2px solid var(--dark-700);
    color: var(--dark-700);
    padding: 1rem;
    height: auto;
    border-radius: 8px 0 0 8px;
    min-height: 300px;
    background: var(--light-700);
    font-family: var(--font-1);
}

.text textarea::placeholder {
    color: var(--dark-700);
}

.text textarea:focus {
    outline: none;
    /* border: 2px solid var(--light-700); */
}


.type,
.fee-note {
    border: 2px solid black;
    height: 33.33%;
    width: 100%;
    display: inline-block;
    border-radius: 8px;
    background: var(--primary-700);
    border-radius:  0 8px 8px 0;
    padding: 1rem;
}


.text p {
    margin-bottom: 0.5rem;
    font-size: 0.65rem;
    color: var(--primary-700);
}
.text .error {
    color: var(--secondary-red-700);
    
}

@media screen and (min-width: 760px) {
    .create-patent-form {
        display: flex;
        justify-content: space-between;
    }
    
    .text {
        width: calc(65%);
        border-radius: 1rem 0 0 1rem;
        margin: 0,
    }
    
    .actions {
        width: calc(35% - 1rem);
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 0 1rem 1rem 0;
    }
    
    
    
    .create-patent-form label {
        font-size: 1.25rem;
    }
    
    .submit {
        align-self: flex-end;
    }
}