.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    align-items: flex-end;
}
/* 
.connected {
    border: 1px solid green;
} */

.not-connected, .is-connected {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid black;
}

.not-connected {
    background: var(--secondary-red-700);
}

.is-connected {
    background: var(--secondary-green-700);
}



@media screen and (min-width: 760px) {
}