.nav-item {
    margin-right: 0.5rem;
    padding: 0.25rem 0;
}

.nav-item:hover {
    text-decoration: underline;

}

@media screen and (min-width: 760px) {
    .nav-item {
        margin-right: 2rem;
    }
}